@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-family:  'Poppins';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* html{
  scroll-behavior: smooth;
  height: calc(100vh - 1rem);
  width: calc(100vw - 1rem);
} */

